$primary: #fbac21;
$secondary: #f09b1f;
$accent: #fbac21;
$primaryRed: #e84d3d;
$secondaryRed: #c13b2f;
$accentRed: #c13b2f;
$primaryBlue: #3996d2;
$secondaryBlue: #2780ba;
$accentBlue: #2780ba;
$primaryBackground: #2780ba;
$secondaryBackground: #e1dcd3;

$black: #040404;
$error: #c13b2f;
$info: #2780ba;
$success: #4CAF50;
$warning: #FFC107;
